.ContedorInicio {
    background-color: aliceblue;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 0 auto;
}

.ContedorInicio h2 {
    margin-bottom: 20px;
    color: #333;
}

.ContedorInicio label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
}

.ContedorInicio input,
.ContedorInicio select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.ContedorInicio button {
    width: 100%;
    padding: 10px;
    background-color: #010c17;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ContedorInicio button:hover {
    background-color: #041c36;
}

.RegistroLink {
    margin-top: 10px;
    font-size: 14px;
}

.RegistroLink a {
    color: #041c36;
    text-decoration: none;
}

.RegistroLink a:hover {
    text-decoration: underline;
}