body {
    font-family: Arial, sans-serif;
    background-color: rgb(88, 88, 202);
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: black;
    text-align: center;
    padding: 15px 0; /* Reducido el padding */
    margin-bottom: 20px;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-content h1 {
    font-size: 2em; /* Reducido el tamaño de la fuente */
    margin: 0;
}

.btn-regreso {
    display: inline-block;
    padding: 12px 30px;
    background-color: aliceblue;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.btn-regreso:hover {
    color: aliceblue;
    background-color: black;
}

.btn-regreso:active {
    background-color: #003366;
    color: aliceblue;
}

main {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    max-width: 600px;
    margin: 0 auto;
    top: 40px;
    border: 1px solid black;
}

form {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

form input,
form select {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

form button {
    width: 100%;
    padding: 0.75rem;
    background-color: #000a00;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

form button:hover {
    background-color: #454ea0;
}

form button:active {
    background-color: #000300;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}

footer p {
    margin: 0;
    font-size: 14px;
}

@media (max-width: 600px) {
    .header-content {
        flex-direction: column;
        align-items: center;
    }

    form {
        padding: 1rem;
    }

    form input,
    form button {
        font-size: 0.9rem;
    }
    .notification {
        padding: 15px;
        margin: 20px 0;
        border-radius: 5px;
        color: white;
    }
    
    .notification.success {
        background-color: green;
    }
    
    .notification.error {
        background-color: red;
    }
    
    
}
