body {
    background-color: rgb(88, 88, 202);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 1px solid black;
    padding: 10px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

nav a {
    margin-top: 4px;
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    background-color: aliceblue;
    border-radius: 20px;
    font-size: 16px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav a:hover {
    color: aliceblue;
    background-color: black;
}

nav a:active {
    color: aliceblue;
    background-color: #003366;
}

li {
    list-style-type: none;
    padding-left: 70px;
    padding-right: 70px;
    font-size: larger;
}

#LogoEncab {
    margin-top: 10px;
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 23px;
    text-decoration: solid;
    font-size: 130%;
}

header {
    background-color: aliceblue;
    padding: 30px;
    width: 100%;
    max-width: 1200px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 0 auto;
}

header h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    text-align: center;
}

header .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header .btn-regreso, header .btn-login {
    background-color: #010c17;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin: 10px;
}


main {
    background-color: aliceblue;
    padding: 30px;
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px auto;
}

.ContenedorInicio {
    width: 100%;
}

.ContenedorInicio h2 {
    margin-bottom: 20px;
    color: #333;
}

.ContenedorInicio label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
}

.ContenedorInicio input,
.ContenedorInicio select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
}

.ContenedorInicio button {
    width: 100%;
    padding: 10px;
    background-color: #010c17;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ContenedorInicio button:hover {
    background-color: #041c36;
}

.RegistroLink {
    margin-top: 10px;
    font-size: 14px;
}

.RegistroLink a {
    color: #041c36;
    text-decoration: none;
}

.RegistroLink a:hover {
    text-decoration: underline;
}

footer {
    margin: 0;
    margin-top: 20px;
    padding: 1px;
    box-sizing: border-box;
    background-color: aliceblue;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    font-size: 16px;
}

footer p {
    color: #555;
    font-size: 14px;
}
