
header .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header .btn-regreso, header .btn-login {
    background-color: #010c17;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin: 10px;
}


main {
    
    background-color: #e0f7fa;
    padding: 30px;
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px auto;
}

.ContenedorInicio {
    width: 100%;
}

.ContenedorInicio h2 {
    margin-bottom: 20px;
    color: #333;
}

.ContenedorInicio label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
}

.ContenedorInicio input,
.ContenedorInicio select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
}

.ContenedorInicio button {
    width: 100%;
    padding: 10px;
    background-color: #010c17;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ContenedorInicio button:hover {
    background-color: #041c36;
}

.RegistroLink {
    margin-top: 10px;
    font-size: 14px;
}

.RegistroLink a {
    color: #041c36;
    text-decoration: none;
}

.RegistroLink a:hover {
    text-decoration: underline;
}


