body {
 
    background-color: #ffffff;
}


nav {
    margin: 0;
    margin-top: 10px;
    padding: 5px 15px; 
    box-sizing: border-box;
    background: linear-gradient(135deg, #e0f7fa, #80deea);
    border-radius: 10px; 
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    text-align: center;
    border: none; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
}

nav a {
    margin-top: 4px;
    position: relative;
    display: inline-block;
    font-weight: 500;
    color: #003366; 
    text-decoration: none;
    padding: 12px 15px;
    border-radius: 20px;
    font-size: 22px;
    transition: color 0.3s ease, background-color 0.3s ease;

}

nav a:hover {
    color: #b3d1ff; 
    background-color: #003366; 
}

nav a:active {
    color: #b3d1ff; 
    background-color: #002244; 
}

    
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex; 
        justify-content: flex-start; 
    }

  
    li {
        margin-right: 40px; 
    }

    
    a {
        color: white;
        text-decoration: none;
        font-size: 18px;
    }

    .search-form {
        display: flex;
        justify-content: flex-end; 
    }

    .search-bar {
        padding: 10px;
        width: 300px;
        font-size: 16px;
        border: 2px solid #ccc;
        border-radius: 20px;
        outline: none;
    }

    .search-button {
        padding: 10px 20px;
        margin-right: 70px;
        font-size: 16px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        margin-left: 5px;
    }

    .search-button:hover {
        background-color: #45a049;
    }
    .btn-salir {
        background-color: #f44336;
        color: white;
        padding: 12px 20px; 
        text-align: center; 
        display: inline-block; 
        font-size: 16px; 
        border: none; 
        border-radius: 50px; 
        cursor: pointer; 
        padding-top: 16px;
    }

    .btn-salir:hover {
        background-color: #d32f2f; 
    }


#LogoEncab {
    margin-top: 20px; 
    margin-right: 40px; 
    position: relative;
    display: inline-block;
    color: #003366; 
    padding: 10px 40px; 
    font-size: 200%; 
    font-weight: bold; 
    text-decoration: none; 
    border-radius: 30px; 
    background-color: #80c7f2; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 

}





#EncabSecunda {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
    color: #000000;
}

.ContenedorArti {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.Articulo {
    background-color: #fff;
    border-radius: 10px;  
    overflow: hidden;
}

.ContenidoArti {
    display: flex;
    flex-wrap: wrap;
}

.TextoArti {
    flex: 1;
    padding: 20px;
    text-align: left;
    color: #000000;
}

.ImagenArti {
    flex: 1;
    display: flex;
}




.reverse .ContenidoArti {
    background-color: #f9fafb;
    flex-direction: row-reverse;
}

footer {
    margin: 0;
    margin-top: 20px;
    padding: 40px 60px; 
    box-sizing: border-box;
    background: linear-gradient(135deg, #e0f7fa, #80deea);
    border-radius: 30px; 
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    border: none; 
    font-size: 18px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
    color: #003366; 
}


footer p {
    margin: 0;
    font-size: 18px;
    font-weight: 500; 
    color: #003366; 
}